{# templates/your_template.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  

<div class="container mt-5">
  <h2>Contactez-nous</h2>
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <!-- Nom et Prénom -->
    <div class="form-row">
      <div class="form-group col-md-6">
       
        {{ form_row(form.nom, {'attr': {'class': 'form-group'}}) }}
      </div>
    </div>

    <!-- Adresse Email -->
    <div class="form-group">
     
      {{ form_row(form.email, {'attr': {'class': 'form-group'}}) }}
    </div>

    <!-- Message -->
    <div class="form-group">
    
       {{ form_row(form.message, {'attr': {'class': 'form-group'}}) }}
    </div>

    <!-- Bouton Envoyer -->
    <button type="submit" class="btn btn-primary">Envoyer</button>
   {{ form_end(form) }}
</div>

{% endblock %}