{# templates/your_template.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Formulaire de Contact</title>
  <!-- Ajouter les liens Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h2>Contactez-nous</h2>
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <!-- Nom et Prénom -->
    <div class="form-row">
      <div class="form-group col-md-6">
       
        {{ form_row(form.nom, {'attr': {'class': 'form-group'}}) }}
      </div>
    </div>

    <!-- Adresse Email -->
    <div class="form-group">
     
      {{ form_row(form.email, {'attr': {'class': 'form-group'}}) }}
    </div>

    <!-- Message -->
    <div class="form-group">
    
       {{ form_row(form.message, {'attr': {'class': 'form-group'}}) }}
    </div>

    <!-- Bouton Envoyer -->
    <button type="submit" class="btn btn-primary">Envoyer</button>
   {{ form_end(form) }}
</div>

<!-- Ajouter les scripts Bootstrap JS et jQuery (si nécessaire) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}